<div class="container">
  <h1>We Love:</h1>
  <table class="table table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col">WP♥&S</th>
        <th scope="col">What</th>
        <th scope="col">Pic</th>
        <th scope="col">Detalles</th>

      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <th scope="row">Peace</th>
        <td>Mark</td>
        <td>Otto</td>

        <td><button type="button" class="btn btn-outline-primary"></button></td>

      </tr>
      <tr class="table-danger">
        <th scope="row">Love</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td><button type="button" class="btn btn-outline-primary"></button></td>

      </tr>
      <tr class="table-warning">
        <th scope="row">Sweet</th>
        <td colspan="2">Larry the Bird</td>
        <td><button type="button" class="btn btn-outline-primary"></button></td>
      </tr>
    </tbody>
  </table>
</div>
